{% extends 'pluto-html/base_1.html' %}
{% block content %}
{% load static %}

      <style>
         table {
           font-family: arial, sans-serif;
           border-collapse: collapse;
           width: 100%;
           color: #030303;
         }
   
         td,
         th {
           border: 1px solid #030303;
           text-align: left;
           padding: 8px;
         }
       </style>
                 <!-- dashboard inner -->
               <div class="midde_cont">
                  <div class="container-fluid">
                     <div class="row column_title">
                        <div class="col-md-12">
                           <div class="page_title">
                              <h2>Bookings</h2>
                           </div>
                        </div>
                     </div>
                     
                     </div>

                     <table>
                        <tr>
                          <th>Sl.NO</th>
                          <th>Name</th>
                          <th>EMAIL</th>
                          <th>PHONE</th>
                          <th>Time</th>
                          <th>MESSAGE</th>
                          <th>Edit</th>
                          <th>DELETE</th>



                        </tr>
                        {% for product in context %}
                        <tr>
                          <td>{{ product.id}}</td>
                          <td>{{ product.title}}</td>
                          <td>{{product.email_field}}</td>
                          <td>{{ product.phone_number}}</td>
                          <td>{{product.geeks_field}}</td>
                          <td>{{product.body}}</td>
                          <td style="padding: 10px">
                            <a href="{% url 'edit_1' product.id %}"
                              ><button type="button" class="btn btn-secondary">
                                EDIT SLOT
                              </button></a
                            >
                            <td style="padding: 10px">
                              <a href="{% url 'delete_1' product.id %}"
                                ><button type="button" class="btn btn-danger">Delete</button></a
                              >
                            </td>
                          
                               
                              </tr>
                              {% endfor %}
                            </table>
                            <br/> <br/> <br/> <br/>
                      <center><a href="{% url 'add_1' %}"
                        ><button type="button" class="btn btn-primary">ADD SLOT</button></a></center>
                          
      
                            
                           {% endblock %}
                      
